In [3]:
import numpy as np 
import pandas as pd

In [4]:
df2 = pd.read_csv("/Users/samantharothman/Desktop/carmen/tweets-carmen/tweets2-carmen.csv")

/Users/samantharothman/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
df2.head()

,Unnamed: 0,text,lang,user-location,place-country,place-country_code,location-coordinates,user-screen_name,retweet_number,hashtags,date,location1,location2,city,state
0,0,Pope Francis' call for civil unions is a way t...,en,"Chicago, IL",NaN,NaN,NaN,chitribopinions,0,None,Sun Oct 25 21:45:00 +0000 2020,"(False, Location(country='United States', stat...","(False, Location(country='United States', stat...",Chicago,Illinois
1,1,I want to do what‚Äôs best. Yet I find myself wi...,en,"Chicago, IL",NaN,NaN,NaN,chitribopinions,0,None,Sun Oct 25 20:30:00 +0000 2020,"(False, Location(country='United States', stat...","(False, Location(country='United States', stat...",Chicago,Illinois
2,2,I get on Facebook to look at vacation and gard...,en,"Chicago, IL",NaN,NaN,NaN,chitribopinions,0,None,Sun Oct 25 18:55:50 +0000 2020,"(False, Location(country='United States', stat...","(False, Location(country='United States', stat...",Chicago,Illinois
3,3,Veteran journalist Carol Marin is leaving TV n...,en,"Chicago, IL",NaN,NaN,NaN,chitribopinions,1,None,Sun Oct 25 17:22:38 +0000 2020,"(False, Location(country='United States', stat...","(False, Location(country='United States', stat...",Chicago,Illinois
4,4,Illinois is the only state where justices on i...,en,"Chicago, IL",NaN,NaN,NaN,chitribopinions,0,None,Sat Oct 24 01:15:00 +0000 2020,"(False, Location(country='United States', stat...","(False, Location(country='United States', stat...",Chicago,Illinois

In [14]:
cities = ['New York','Washington','Portland', 'Los Angeles','San Francisco', 'Boston', 'Chicago','Philadelphia', 'Springfield',
'Austin','Salt Lake City','Seattle','Detroit','Phoenix', 'San Diego','Sacramento']

In [15]:
# tweets from new york 

nyc = df2[df2['city']=='New York']

In [21]:
# see if tweets from new york have word protest
nyc_protest = nyc[nyc['text'].str.contains("protest")]

In [22]:
nyc_protest

,Unnamed: 0,text,lang,user-location,place-country,place-country_code,location-coordinates,user-screen_name,retweet_number,hashtags,date,location1,location2,city,state
86653,129050,RT @alicesperi: New from me: Portland reckons ...,en,"New York, NY",NaN,NaN,NaN,theintercept,36,None,Sun Oct 25 23:02:16 +0000 2020,"(False, Location(country='United States', stat...","(False, Location(country='United States', stat...",New York,New York
86656,129053,Witness testimony and a video reconstruction d...,en,"New York, NY",NaN,NaN,NaN,theintercept,51,None,Sun Oct 25 19:55:02 +0000 2020,"(False, Location(country='United States', stat...","(False, Location(country='United States', stat...",New York,New York
86662,129059,Portland reckons with police attacks on protes...,en,"New York, NY",NaN,NaN,NaN,theintercept,32,None,Sun Oct 25 13:05:34 +0000 2020,"(False, Location(country='United States', stat...","(False, Location(country='United States', stat...",New York,New York
86760,129157,Department of Homeland Security sued for using...,en,"New York, NY",NaN,NaN,NaN,theintercept,78,None,Wed Oct 21 13:08:29 +0000 2020,"(False, Location(country='United States', stat...","(False, Location(country='United States', stat...",New York,New York
86767,129164,"The suit lays out evidence that, in addition t...",en,"New York, NY",NaN,NaN,NaN,theintercept,116,None,Wed Oct 21 03:54:23 +0000 2020,"(False, Location(country='United States', stat...","(False, Location(country='United States', stat...",New York,New York
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162818,277168,@RaquelWillis_ Right? Put down your mimosa and...,en,"New York, NY",NaN,NaN,NaN,1demerith,2,None,Mon Jun 01 16:01:35 +0000 2020,"(False, Location(country='United States', stat...","(False, Location(country='United States', stat...",New York,New York
162827,277177,"RT @vulture: ‚ÄúDuring a protest at Harvard, Jos...",en,"New York, NY",NaN,NaN,NaN,1demerith,2,None,Mon Jun 01 11:24:24 +0000 2020,"(False, Location(country='United States', stat...","(False, Location(country='United States', stat...",New York,New York
162836,277186,Trying to find cardboard to make a protest sig...,en,"New York, NY",NaN,NaN,NaN,1demerith,0,None,Sun May 31 14:19:02 +0000 2020,"(False, Location(country='United States', stat...","(False, Location(country='United States', stat...",New York,New York
163949,278299,"Yes, publishing and protests, two of my favori...",en,"New York, NY",NaN,NaN,NaN,1demerith,1,None,Thu Mar 05 22:22:04 +0000 2020,"(False, Location(country='United States', stat...","(False, Location(country='United States', stat...",New York,New York
178217,295739,üôåüèæ‚úäüèæ#protest #for #what is #right #georgefloyd...,und,NYC üóΩ,NaN,NaN,NaN,RecioeMontana,0,"['protest', 'for', 'what', 'right', 'georgeflo...",Tue Jun 02 20:14:07 +0000 2020,"(False, Location(country='United States', stat...","(False, Location(country='United States', stat...",New York,New York

In [33]:
import datetime as dt
nyc_protest['date'] = pd.to_datetime(nyc_protest['date'])

/Users/samantharothman/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [36]:
nyc_protest['date2'] = nyc_protest['date'].dt.date

/Users/samantharothman/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [49]:
nyc_protest.groupby("date2").size().idxmax()

datetime.date(2020, 7, 10)

In [ ]:
# nyc most likely had a protest on 7/10/20?

In [9]:
df1 = pd.read_csv("/Users/samantharothman/Desktop/carmen/tweets-carmen/tweets-carmen.csv")

In [6]:
df3 = pd.read_csv("/Users/samantharothman/Desktop/carmen/tweets-carmen/tweets3-carmen.csv")

In [7]:
df4 = pd.read_csv("/Users/samantharothman/Desktop/carmen/tweets-carmen/tweets4-carmen.csv")

In [8]:
df5 = pd.read_csv("/Users/samantharothman/Desktop/carmen/tweets-carmen/tweets5-carmen.csv")

In [10]:
df6 = pd.read_csv("/Users/samantharothman/Desktop/carmen/tweets-carmen/tweets6-carmen.csv")

/Users/samantharothman/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
df7 = pd.read_csv("/Users/samantharothman/Desktop/carmen/tweets-carmen/tweets7-carmen.csv")

In [12]:
df8 = pd.read_csv("/Users/samantharothman/Desktop/carmen/tweets-carmen/tweets8-carmen.csv")

In [13]:
df9 = pd.read_csv("/Users/samantharothman/Desktop/carmen/tweets-carmen/tweets9-carmen.csv")

In [14]:
all_df = [df1, df2, df3, df4, df5, df6, df7, df8, df9]

In [15]:
all_tweets = pd.concat(all_df)

In [16]:
all_tweets.size

20141010

In [19]:
df2.size + df1.size + df3.size + df4.size + df5.size+ df6.size + df7.size + df8.size + df9.size

20141010